<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body>
      <div class="titles">
        <h1>Color Generator</h1>
        <h3>Generate and view the most common colors in an online image</h3>
        </div>
        <form action="/result" method="post">
        <label for="avatar">Paste the url to an online image below:</label>
        <input type="text"
       id="avatar" name="avatar">
        <br/>
       <button class="btn btn-primary" type="submit">Submit</button>
       </form>
    </body>
</html>